body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #eee;
}
#main {
  display: flex;
  flex-direction: row;
}
#nav-button {
  display: none;
}
#pokemon-list {
  width: calc(1 / 4 * 100%);
  height: 100vh;
  overflow-y: auto;
  background-color: #ff1234;
}
.pokemon-name {
  font-family: monospace;
  font-size: large;
  border: 3px solid black;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  padding-left: 5%;
  background: white;
}
#pokemon-data {
  width: calc(3 / 4 * 100%);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  /* background: url(pokemon-bg.jpg); */
  background-size: cover;
}

#upper-data {
  width: 540px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
#pokemon-image {
  width: 240px;
  height: 240px;
  padding: 20px;
  background-color: white;
  /* border: 5px solid black; */
  /* border-radius: 120px; */
}
#right-data {
  width: 240px;
  height: 240px;
  padding: 20px;
  background-color: white;
  /* border: 5px solid black; */
  /* border-radius: 10px; */
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
#pokemon-name {
  text-align: center;
  /* margin: px; */
  font-size: 1.6em;
  font-weight: bold;
}
#pokemon-types {
  font-size: small;
  text-align: center;
  margin: 10px;
}
.type-box {
  width: 75px;
  height: 10px;
  margin: 10px;
  padding: 5px;
  border: 2px solid black;
  border-radius: 10px;
  text-align: center;
}
#lower-data {
  padding: 20px;
  padding-left: 40px;
  width: 540px;
  min-height: 240px;
  overflow-y: auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* border: 5px solid black; */
  /* border-radius: 10px; */
}

.base-stat-entry {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: space-between; */
}

.stat-entry {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
}

.stat-bar {
  width: 100px;
  height: 10px;
  background-color: #0f0;
  border-radius: 5px;
}

/* styles for width 600-900 */
@media only screen and (max-width: 900px) {
  .pokemon-name {
    font-size: medium;
    border: 2px solid black;
    border-radius: 8px;
    margin: 5px;
  }
  #upper-data {
    width: 600px;
  }
  #pokemon-image {
    width: 100px;
    height: 100px;
    padding: 10px;
    border: 4px solid black;
    border-radius: 70px;
  }
  #right-data {
    width: 200px;
    padding: 10px 20px;
    border: 4px solid black;
  }
  #pokemon-name {
    text-align: center;
    font-size: larger;
    margin: 10px;
  }
  #pokemon-types {
    text-align: center;
    margin: 10px;
  }
  #lower-data {
    padding: 10px;
    width: 400px;
    border: 4px solid black;
  }
  #pokemon-desc {
    font-size: medium;
    text-align: justify;
  }
}
/* styles for width 0-400 */
@media only screen and (max-width: 600px) {
  #nav-button {
    /* padding: 10px; */
    display: block;
    position: fixed;
    top: 10px;
    right: 10px;
    /* border-radius: 10px; */
  }
  #nav-svg {
    height: 40px;
    width: 40px;
    padding: 8px;
    border: 2px solid black;
    background-color: white;
    border-radius: 22px;
  }
  #pokemon-list {
    position: fixed;
    z-index: -10;
    width: 50%;
    height: 100vh;
    overflow-y: auto;
    background-color: red;
  }
  .pokemon-name {
    font-size: medium;
    border: 1px solid black;
    border-radius: 8px;
    margin: 5px;
    padding: 5px;
    /* padding-left: 5%; */
  }
  #pokemon-data {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #upper-data {
    width: calc(4 / 5 * 100%);
    height: calc(2 / 5 * 100vh);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  #pokemon-image {
    margin: 0px;
    width: 100px;
    height: 100px;
    padding: 10px;
    background-color: white;
    border: 3px solid black;
    border-radius: 60px;
  }
  #right-data {
    width: 150px;
    background-color: white;
    border: 3px solid black;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  #pokemon-types {
    width: 150px;
  }
  .type-box {
    width: 10px;
    height: 15px;
    margin: 8px;
    padding: 5px;
    font-size: small;
    border: 2px solid black;
    border-radius: 8px;
    text-align: center;
  }
  #lower-data {
    margin: 20px;
    width: calc(3 / 5 * 100%);
    height: 120px;
    border: 3px solid black;
    border-radius: 8px;
  }
  #pokemon-desc {
    font-size: small;
    text-align: justify;
  }
}
/* type box color tempplates */
@media only screen and (min-width: 0px) {
  .bug {
    background-color: #ab2;
  }
  .dark {
    background-color: #754;
  }
  .dragon {
    background-color: #76e;
  }
  .electric {
    background-color: #fc3;
  }
  .fairy {
    background-color: #e9e;
  }
  .fighting {
    background-color: #b54;
  }
  .fire {
    background-color: #f42;
  }
  .flying {
    background-color: #89f;
  }
  .ghost {
    background-color: #66b;
  }
  .grass {
    background-color: #7c5;
  }
  .ground {
    background-color: #db5;
  }
  .ice {
    background-color: #6cf;
  }
  .normal {
    background-color: #aa9;
  }
  .poison {
    background-color: #a59;
  }
  .psychic {
    background-color: #f59;
  }
  .rock {
    background-color: #ba6;
  }
  .steel {
    background-color: #aab;
  }
  .water {
    background-color: #39f;
  }
}
