body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #eee;
  display: flex;
  flex-direction: row;
}
#nav-button {
  display: none;
}
#pokemon-list {
  width: 25%;
  height: 100vh;
  overflow-y: auto;
  background-color: #ff1234;
}
#pokemon-list div {
  font-family: monospace;
  font-size: large;
  border: 3px solid black;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  padding-left: 5%;
  background: white;
}
#pokemon-data {
  width: 75%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background: url(pokemon-bg.jpg);
  background-size: cover;
}
#upper-data {
  width: 540px;
  height: 240px;
  padding: 5px;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 5px solid black;
  border-radius: 20px;
}
#pokemon-image {
  width: 240px;
  height: 240px;
  padding: 20px;
}
#right-data {
  width: 240px;
  height: 240px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
#pokemon-name {
  text-align: center;
  font-size: 1.6em;
  font-weight: bold;
}
#pokemon-types {
  font-size: small;
  margin: 10px;
}
.type-box {
  width: 75px;
  height: 10px;
  margin: 10px;
  padding: 5px;
  border: 2px solid black;
  border-radius: 10px;
  text-align: center;
}
#pokemon-abilities {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin-left: 20px;
}
#pokemon-abilities h2 {
  font-size: 1.2em;
  font-weight: bold;
}
#pokemon-abilities p {
  font-size: small;
}
#lower-data {
  width: 540px;
  min-height: 240px;
  padding: 20px 40px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 5px solid black;
  border-radius: 20px;
}
#lower-data h2 {
  font-size: 1.2em;
  font-weight: bold;
}
#lower-data div {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.stat-val {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
}
.stat-bar {
  width: 100px;
  height: 10px;
  background-color: "#FFDD57";
  border-radius: 5px;
  transition: width 1.5s ease, background-color 1s ease;
}

/* type box color templates */
@media only screen and (min-width: 0px) {
  .bug {
    background-color: #ab2;
  }
  .dark {
    background-color: #754;
  }
  .dragon {
    background-color: #76e;
  }
  .electric {
    background-color: #fc3;
  }
  .fairy {
    background-color: #e9e;
  }
  .fighting {
    background-color: #b54;
  }
  .fire {
    background-color: #f42;
  }
  .flying {
    background-color: #89f;
  }
  .ghost {
    background-color: #66b;
  }
  .grass {
    background-color: #7c5;
  }
  .ground {
    background-color: #db5;
  }
  .ice {
    background-color: #6cf;
  }
  .normal {
    background-color: #aa9;
  }
  .poison {
    background-color: #a59;
  }
  .psychic {
    background-color: #f59;
  }
  .rock {
    background-color: #ba6;
  }
  .steel {
    background-color: #aab;
  }
  .water {
    background-color: #39f;
  }
}
